<h1><center><span style='color:#FF1493'> # Ex2: Data Science Tools and Ecosystem </span></center></h1>

<span style='color:#FF69B4'> Ex3: In this notebook, Data Science Tools and Ecosystem are summarized. </span>

Ex4: Some of the popular languages that Data Scientists use are:
1. Python
1. Java
1. C#
1. Go
1. R
1. Lua

 "Ex5: Some of the commonly used libraries used by Data Scientists include:"
 1. List 1:
    1. Pandas
    1. TensorFlow
    1. scikit-learn
    1. PyTorch
    1. OpenCV
 2. List 2:
    1. Pandas
    1. TensorFlow
    1. scikit-learn
    1. PyTorch
    1. OpenCV

Ex6: Data Science Tools
<table style="witdh:100%;color:darkblue;border-color: #96D4D4;border: 2px solid">
    <tr>
        <th>MS Excel</th>
        <th>BigML</th>
        <th>Apache Spark</th>
        <th>Matlab</th>
        <th>Python</th>
    </tr>
    <tr>
        <th>Minitab</th>
        <th>Scikit Learn</th>
        <th>TensorFlow</th>
        <th>Repidminer</th>
        <th>Databoot</th>
    </tr>
    <tr>
        <th>R</th>
        <th>Go</th>
        <th>NLTK</th>
        <th>adoop</th>
        <th>MS BI</th>
    </tr>
</table>

## Ex7: Below are a few examples of evaluating arithmetic expressions in Python
## Addition
1 + 2

## Subtraction
5 - 3

## Multiplication
3 * 4

## Division
12 / 4

## Exponentiation
2 ** 3

## Modulo
10 % 3

In [20]:
print("Ex8")
print("This a simple arithmetic expression to mutiply then add integers:")
print("10 * 5")
# Calculate the area of a rectangle
length = 10
width = 5
area = length * width

# Print the area
print(area)

Ex8
This a simple arithmetic expression to mutiply then add integers:
10 * 5
50

In [18]:
print("Ex9")
print("This will convert 200 minutes to hours by diving by 60:")
# Convert minutes to hours in Python Jupyter

# Get the number of minutes
minutes = 200

# Convert minutes to hours
hours = minutes / 60

# Print the number of hours
print(hours)

Ex9
This will convert 200 minutes to hours by diving by 60:
3.3333333333333335

## Ex11:
Author:
  - Harry, kuzumi1190@gmail.com
  - The Trinh, nhokvip04@gmail.com